<style>
  #color-me-in {
    background-color: <%= @color %>;
    color: white;
    height: 300px;
    width: 400px;
    }
</style>

<h1>Practice practice practice</h1>
<p id='color-me-in'>Find me in app/views/practice/about.html.erb</p>

<%= form_tag index_path do %>

  <p><%= text_field_tag :name, nil, placeholder: "What's your name?" %></p>
  <p><%= submit_tag :submit %></p>

<% end %>
